html{
    position: absolute;
    left: 2%;
    right: 2%;
    background-color: #d9d9d1;
    font-size: 100%;
    margin-top: -0.55%;
    vertical-align: baseline;
}
body {
    font-size: 100%;
    overflow-x: hidden;
    vertical-align: baseline;
}
header {
    position: relative;
    display: block;
    width: 100%;
    overflow: hidden;
}
#branding {
    text-transform: uppercase;
    background-color: black;
    font-size: 14px;
    font-family: Open sans, Arial, sans-serif;
    color: #fff;
    overflow: hidden;
}
#branding h1,h2,h3 {
    line-height: 0.8;
    position: relative;
    left: 45%;
}
#branding span {
    background-color: #f6be00;
    color: black;
}
#branding img {
    padding-top: 0.3%;
    padding-left: 2.3%;
    float: left;
    width: 8%;
}
#main {
    position: relative;
    height: 500px;
    width: 100%;
}
#main img {
    height: 90%;
    width: 100%;
}
#Courses {
    position: absolute;
    background-color: #f6be00;
    top: 15%;
    left: 72%;
    padding: 2em 5em 1em 2em;
    color: #333;
}
#Courses h1 {
    margin-top: 0em;
    margin-bottom: 1.5em;
    font-size: 35px;
    font-weight: 400;
    font-family: Open Sans, Arial, sans-serif;
}
#Courses p a{
    color: #2456a5;
    text-decoration: none;
}
#Courses p a:hover {
    text-decoration: underline;
}
.wrapper {
    margin-top: -3.4%;
    width: 100%;
    position: relative;
}
#whats-happening {
    background-color: white;
    padding: 2em 35px 2em 35px;
    position: relative; 
}
#explore {
    background-color: #333;
    margin-top: -28.6%;
    margin-right: 69%;
    padding: 2em 4em 1em 2em;
    box-sizing: border-box;
}
#explore h1 {
    color: white;
    margin-top: 0em;
    margin-bottom: 1.5em;
    font-size: 35px;
    font-weight: 400;
    font-family: Open Sans, Arial, sans-serif;
}
#explore p a {
    color: #f6be00;
    text-decoration: none;
}
#explore p a:hover {
    text-decoration: underline;
}
.note {
    top: 5%;
    position: absolute;
    left: 72%;
    height: 90%;
    width: 72.6%;
    box-sizing: border-box;
}
.note img {
    display: block;
    width: 35%;
    height: 97%;
}
.note-details {
    background: rgba(255,255,255,0.1);
    position: absolute;
    text-align: left;
    padding-left: 1em;
    padding-right: 1em;
    width: 31.9%;
    height: 44%;
    top: 53%;
}
.note-details p {
    font-family: Open Sans, Arial, sans-serif;
    color: white;
    font-size: 0.8em;
    margin-bottom: 1em;
}
.note-details a {
    text-decoration: none;
}
.note-details a:hover {
    text-decoration: underline black;
}
.note-details span {
    background-color: #f6be00;
    font-family: Open Sans, Arial, sans-serif;
}